@media screen and  (min-width: 100px){
    *{
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
    }
    #top{
        background-size: cover;
        background-position: center;
        height: 200px;
        width: 1363px;
        z-index: -2;
    }
    .taskbar{
        width: 1339px;
        height: 150px;
        position: absolute;
        background-color: #4ea0e400;
        border-radius:20px;
        z-index: 1;
        left: 13px;
        top: 25px;
    }
    .taskbar img{
        width: 180px;
        margin: 10px;
    }
    .logo-text{
        position: absolute;
        top: 35%;
        left: 15%;
        font-size: 300%;
        color:#000;
        display: none;
    }
    .search{
        position: absolute;
        height: 60px;
        width: 890px;
        top: 7.5%;
        left: 16%;
    
    }
    #search-bar{
        position: absolute;
        top: 20%;
        height: 100px;
        width: 1040px;
        background-color: #4ea0e461;
        border: 1px solid black;
        border-color: #4ea0e422;
        border-radius: 30px;
        padding-left: 50px;
        font-size: 300%;
    }
    #search-button{
        width: 70px;
        height: 70px;
        top: 35%;
        position: absolute;
        left: 930px;
        background-color: #357ace00;
        border: 1px solid black;
        border-color: #357ace00;
        z-index: 8;
    }
    #search-button img{
        width: 70px;
        height: 70px;
    }
    #suggestions {
    list-style-type: none;
    background-color: #fffffffd;
    width: 790px;
    margin: 0;
    padding-left: 15px;
    padding-top: 25px;
    margin-top: 30vh;
    display: none;
    border-radius: 20px;
    text-decoration: none ;
    z-index: 9;
    }
    #suggestions li {
    background-color: #0045bba7;
    height: 150px;
    width: 750px;
    padding: 11px;
    padding-top: 20px;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom:25px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    z-index: 9;
    }
    #suggestions li a {
    color: #fff;
    text-decoration: none;
    font-size: 350%;
    width: 200%;
    height: 200%;
    font-weight: bolder;
    z-index: 9;
    }
    
    #suggestions li:hover {
    background-color: #0045bb;
    }
    .search-bar-active #suggestions {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        display: block; /* Show the suggestions box when search bar is active */
    }
    


    #menubtn{
        width: 200px;
        height: 200px;
        background: #4ea0e47e;
        text-align: center;
        position: fixed;
        right: 60px;
        top: 35vh;
        border-radius: 3px;
        z-index: 8;
        cursor: pointer;
        border-radius: 20px;
        transition: 0.5s;
    }
    #menubtn img{
        width: 120px;
        margin-top: 55px;
    }
    
    #SideNav{
        width: 450px;
        height: 350vh;
        position: fixed;
        right: -450px;
        top: 0;
        background: #4ea0e4f9;
        z-index: 7;
        transition: 0.5s;
        text-align: left;
        border-radius: 10px;
    }
    #SideNav nav ul{
        padding-top: 260px;
    }
    
    #SideNav nav ul li{
        
        list-style: none;
        margin: 150px 50px;
        
    }
    #SideNav nav ul li a{
        text-decoration: none;
        color: #fff;
        font-size: 300%;
        font-weight: bolder;
        
    }



    .content{
        margin-top: 50px;
        width: 1363px;
        text-align: center;
        height: 1100px;
        font-size: 300%;
        color: #18c354;
    }
    #img2{
        margin-top: 70px;
    }

    #tourism{
        width: 1323px;
        background-color: #17f56532;
        height: 4000px;
        margin-left: 20px;
        border-radius: 100px;
    }
    #tourismtxt1{
        font-size: 400%;
        text-align: center;
        padding-top: 100px;
        font-weight: bolder;
    }
    #tourismtxt2{
        font-size: 300%;
        text-align: center;
        padding-top: 20px;
        font-weight: lighter;
        background-color: #ffffffcd;
        height: 70px;
        border-radius: 50px;
        width: 1000px;
        margin-left: 161.5px;
        margin-top: 40px;
    }
    .tour{
        width: 1323px;
        height: 2700px;
        border-radius: 100px;
        padding-top: 80px;
    }
    #ad{
        font-size: 400%;
        margin-left: 50px;
    }
    .CTS{
        display: inline-block;
        width: 600px;
        height: 600px;
        margin-left: 30px;
        background-color: #fff;
        position: absolute;
        margin-top: 70px;
        border-radius: 100px;
    }
    .CTS img{
        width: 400px;
        margin-left: 90px;
    }
    .CTS h4{
        font-size: 300%;
        text-align: center;
    }
    .CTS button{
        width: 200px;
        height: 75px;
        border-radius: 20px;
        margin-left: 200px;
        margin-top: 30px;
        background-color: #4ea0e47e;
        border: none;
    }
    .CTS button a{
        text-decoration: none;
        font-size: 300%;
        font-weight: bolder;
    }
    .CTS1{
        display: inline-block;
        width: 600px;
        height: 600px;
        margin-left: 691.5px;
        background-color: #fff;
        position: absolute;
        margin-top: 70px;
        border-radius: 100px;
        
    }
    .CTS1 img{
        width: 400px;
        margin-left: 90px;
    }
    .CTS1 h4{
        font-size: 300%;
        text-align: center;
    }
    .CTS1 button{
        width: 200px;
        height: 75px;
        border-radius: 20px;
        margin-left: 200px;
        margin-top: 30px;
        background-color: #4ea0e47e;
        border: none;
    }
    .CTS1 button a{
        text-decoration: none;
        font-size: 300%;
        font-weight: bolder;
    }
    .CTS2{
        display: inline-block;
        width: 600px;
        height: 600px;
        margin-left: 30px;
        background-color: #fff;
        position: absolute;
        margin-top: 730px;
        border-radius: 100px;
        
    }
    .CTS2 img{
        width: 400px;
        margin-left: 90px;
    }
    .CTS2 h4{
        font-size: 300%;
        text-align: center;
    }
    .CTS2 button{
        width: 200px;
        height: 75px;
        border-radius: 20px;
        margin-left: 200px;
        margin-top: 30px;
        background-color: #4ea0e47e;
        border: none;
    }
    .CTS2 button a{
        text-decoration: none;
        font-size: 300%;
        font-weight: bolder;
    }
    .CTS3{
        display: inline-block;
        width: 600px;
        height: 600px;
        margin-left: 691.5px;
        background-color: #fff;
        position: absolute;
        margin-top: 730px;
        border-radius: 100px;
    }
    .CTS3 img{
        width: 400px;
        margin-left: 90px;
    }
    .CTS3 h4{
        font-size: 300%;
        text-align: center;
    }
    .CTS3 button{
        width: 200px;
        height: 75px;
        border-radius: 20px;
        margin-left: 200px;
        margin-top: 30px;
        background-color: #4ea0e47e;
        border: none;
    }
    .CTS3 button a{
        text-decoration: none;
        font-size: 300%;
        font-weight: bolder;
    }

    #well{
        width: 1200px;
        font-size: 400%;
        margin-left: 50px;
        margin-top: 1470px;
        position: absolute;
    }

    .CTS4{
        display: inline-block;
        width: 1260px;
        height: 400px;
        margin-left: 30px;
        background-color: #fff;
        position: absolute;
        margin-top: 1600px;
        border-radius: 50px;
        
    }.CTS4 img{
        width: 280px;
        margin-left: 90px;
        margin-top: 50px;
        background-color: #0045bb14;
        padding: 10px;
        border-radius: 40px;
    }
    .CTS4 h4{
        font-size: 400%;
        text-align: center;
        position: absolute;
        margin-left: 500px;
        margin-top: -270px;
    }
    .CTS4 h5{
        font-size: 250%;
        text-align: center;
        position: absolute;
        margin-left: 500px;
        margin-top: -170px;
        color: #00000067;
    }
    .CTS4 h6{
        font-size: 200%;
        text-align: center;
        position: absolute;
        margin-left: 500px;
        margin-top: -90px;
        color: #c0c51a;
    }
    .CTS4 button{
        width: 200px;
        height: 75px;
        border-radius: 20px;
        background-color: #4ea0e47e;
        border: none;
        position: absolute;
        margin-top: 275px;
        margin-left: 600px;
    }
    .CTS4 button a{
        text-decoration: none;
        font-size: 300%;
        font-weight: bolder;
    }



    .CTS5{
        display: inline-block;
        width: 1260px;
        height: 400px;
        margin-left: 30px;
        background-color: #fff;
        position: absolute;
        margin-top: 2060px;
        border-radius: 50px;
        
    }.CTS5 img{
        width: 280px;
        margin-left: 90px;
        margin-top: 50px;
        background-color: #0045bb14;
        padding: 10px;
        border-radius: 40px;
    }
    .CTS5 h4{
        font-size: 400%;
        text-align: center;
        position: absolute;
        margin-left: 500px;
        margin-top: -270px;
    }
    .CTS5 h5{
        font-size: 250%;
        text-align: center;
        position: absolute;
        margin-left: 500px;
        margin-top: -170px;
        color: #00000067;
    }
    .CTS5 h6{
        font-size: 200%;
        text-align: center;
        position: absolute;
        margin-left: 500px;
        margin-top: -90px;
        color: #c0c51a;
    }
    .CTS5 button{
        width: 200px;
        height: 75px;
        border-radius: 20px;
        background-color: #4ea0e47e;
        border: none;
        position: absolute;
        margin-top: 275px;
        margin-left: 600px;
    }
    .CTS5 button a{
        text-decoration: none;
        font-size: 300%;
        font-weight: bolder;
    }


    
}